<html>
<head>
</head>
<body>

<table border="1" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>LOGIN</th>
        <th>EMPLOYEE</th>
        <th>PRICE</th>
        <th>PAYED</th>
        <th>EXPANDED</th>
      </tr>
    </thead>
    <tbody>
     	{foreach from=$orders item=order}
	 	   <tr>
        <td>{$order.ID}</td>
        <td>{$order.LOGIN}</td>
        <td>{$order.EMPLOYEE_ID}</td>
        <td>{$order.PRICE}</td>
        <td>{$order.PAYED}</td>
        <td>{$order.EXPANDED}</td>
      	</tr>
      	{/foreach}
    </tbody>
  </table>
 

</body>
</html>