﻿


a{text-decoration:none;}
h2{color: #b15e23;}

.HornaCast {
	background-image: url(bg.jpg);
	Height: 457px;
	padding-left: 15%;
}

.HornaCast h1 {
	font-family: "Arial", Arial, Sans-serif;
	padding-top: 20px;
	font-style: italic;
	color: #d5a17c;
	text-decoration: none;
	font-size: 20px;
}
.HornaCast h1 a{
	font-size: 50px;
	color: white;
}

	

.HornaCast ul{
	padding-top: 40px;
	padding-left: 0;
	text-align: left;
}
.HornaCast ul li{
	padding-right: 2%;
	display: inline;
}

.HornaCast ul li a {
	color: white;
}

.HornaCast ul li a:hover{
	padding-bottom: 1.5%;
	background: url(menu_bullet.gif) bottom no-repeat;

}

.HornaCast h2{
	font-family: "Arial", Helvetica, Sans-serif;
	font-size: 20px;
	padding-top: 1%;
}
.HornaCast p{
	font-family: "Arial", Helvetica, Sans-serif;
	font-size: 13px;
	color: #656565;
}

.StrednaCast{
	padding-left:15%;
}

.StrednaCast p{
	color: #656565;
}
.StrednaCast p a{
	font-weight: bold;
	color: black;
	border-bottom: 2px dotted #656565;
	width: 100%;
	display: block;
}

.StrednaCast table{
	border: 3px solid black;
}

.StrednaCast table tr th{
	border-top: 3px dotted black;
	border-left: 3px dotted black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	background-color: #BB791C;
}

.StrednaCast table tr td{
	border-top: 2px solid black;
	border-bottom: 2px solid #656565;
}

.SpodnaCast{
	background-image: url(footer_bg.gif);
	padding-left:15%;
}


.SpodnaCast dl{
	margin-bottom: 0;
}

.SpodnaCast dl dd{
	text-align: right;
	padding-right: 60%;
	
}

.SpodnaCast dl dd a{
	color: #d5a17c;
}

.SpodnaCast dl dt{
	float: left;
	margin-right: 5px;
	color: white;
}

.SpodnaCast p{
	font-weight: bold;
	color: white;
	margin: 0;
}

.SpodnaCast h2{
	color: white;
	margin: 0;
	padding-top: 2%;
}

.SpodnaCast ul{
	padding-left: 4%;
	margin: 0;
	list-style-image: url(footer_list_bullet.gif);
}

.SpodnaCast ul li{
	padding-top: 1%;
}

.SpodnaCast ul li a{
	color: #d5a17c;
}
