﻿*{
  margin: 0px;
  padding: 0px;
  text-decoration: none; 
}
html, body{
  height: 100%;
}
body{ 
  background-color: black;
  font-family: "Tahoma", "Arial", sans-serif;
  font-size: 11pt;
}
.page{ 
  width: auto;
  max-width: 1000px;
  min-width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.top{
  background-color: white;
  height: 200px;
}
#logo{ 
  padding: 20px 0px 0px 50px;
}
#logo a{ 
  display: block;
  width: 480px;
  height: 125px;
  background-image: url("image.png");
  background-repeat: no-repeat;
}
#logo a span{
  display: none;
}
.clear{
  clear: both;
} 
.lfloat{
  float: left;
}
.rfloat{
  float: right;
}
#menu{
  line-height: 36px;
}
#menu ul{
  margin: 10px auto 0px auto;
  width: 620px;
}
#menu ul li{
  float: left;
  list-style-type: none;  
  width: 150px;   
  background-color: #001AC4;
  border-right: 2px solid white;
  border-left: 2px solid white;        
}
#menu ul li a{
  display: block;
  color: white;
  font-size: 14pt;
  text-align: center;
}
#menu ul li:hover, #menu ul li.selected{
  background: #4690FF;
  border-bottom: 2px solid white;
}
#menu ul li ul{
  margin: 0px auto 0px auto;
  display: none; 
  width: auto;       
  line-height: 20px;
}
#menu ul li ul li a{
  font-size: 11pt;
}
#menu ul li:hover ul{
  display: block;
}
#menu ul li:hover li{
  list-style-type: none;
  border-top: 2px solid white;
  margin-left: -2px;         
}
#menu ul li:hover li:hover, #menu ul li:hover li.selected{
  border-bottom: none;         
}
.middle{
  background-color: #222222;
  padding: 60px 60px 50px 60px;
  min-height: 300px;  
  color: #FCFCFC;
}
.middle h2{
  font-size: 20pt;
  padding-bottom: 20px;
  text-decoration: underline;
}
#mapa ul, #auta ul, #prislusenstvo ul{
  margin: 5px 0px 5px 40px;
}
#mapa ul li ul li, #auta ul li ul li, #prislusenstvo ul li ul li{
  margin: 5px 0px 5px 0px;
}
#mapa ul li a, #auta ul li a, #prislusenstvo ul li a{
  color: #1100FF;
  text-decoration: underline;
}
#mapa ul li a:hover, #auta ul li a:hover, #prislusenstvo ul li a:hover{
  color: white;
}
#otvaracie_hod{
  border: solid 10px #001AC4;   
  background-color: black;
  padding: 5px;
}
#otvaracie_hod td, #otvaracie_hod th{
  border: solid 2px #4690FF; 
  padding: 2px 5px 2px 5px;
  color: #FCFCFC;
  text-align: center;
}
#sidebar{
  width: 240px;
  display:block; 
  border: 4px solid #0010A4;
  background-color: black;
  margin: 20px 40px 30px 0px;
}
#novinka_1, #novinka_2, #novinka_3{
  border-top: 2px solid blue;
  margin:0px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 8px 10px;
}
#novinka_1:hover, #novinka_2:hover, #novinka_3:hover{
  text-decoration: underline;
}
#novinky h2{
  padding: 10px 12px;
  text-align: center;
  background-color: blue;
}
#showed1, #showed2, #showed3{
  padding: 15px;
  text-align: center;
  border-top: 1px solid black;
}
#welcome{
  margin-left: -40px;
}
#welcome h2{
  text-align: center;
  padding-bottom: 30px;
}
#welcome p{
  padding-bottom: 15px;
  text-align: left;
}
#auta h3, #auta p, #auta ul,#prislusenstvo h3, #prislusenstvo p, #prislusenstvo ul{
  margin-bottom: 15px;
}
#informacie ul{
  margin: 30px 0px 0px 0px;
}
#informacie ul li{
  margin: 5px 0px 5px 0px;
  list-style-type:none;
}
#informacie ul li a{
  color: blue;
  text-decoration: underline;
}
iframe {
max-width: 880px;
width: 100%;
}
#mapa h3{
margin-bottom: 20px;
}
.auto{
  padding-right: 40px;
  width: 400px;
  float: left;
}
.auto h3, .auto h4, .auto p{
  padding-bottom:10px;
}
#prislusenstvo div, #pneumatiky div{
  margin-bottom: 15px;
}
#prislusenstvo h3, #pneumatiky h3{
  margin: 30px 0px 10px 0px;
}
#prislusenstvo img{
  float:right;
  margin: 0px 0px 10px 15px;
}
#pneumatiky img{
  margin: 0px 15px 10px 0px;
}
.bottom{
  background-color: #FEFEFE; 
  color: black;
}
.bottom p{     
  line-height: 30px;
  font-size: 12pt;
  text-align: center;
  font-weight: bold;
}
.bottom a{
  color: black;
}
.bottom a:hover{
  text-decoration: underline;
}