﻿
a{text-decoration:none;}
h2{color: #b15e23;}

body{
	margin: 0px;
}
.TopSection {
	background-image: url(bg.jpg);
	Height: 457px;
	padding-left: 15%;
	padding-right: 15%;


}

.TopSection h1 {
	font-family: "Arial", Arial, Sans-serif;
	padding-top: 20px;
	font-style: italic;
	color: #d5a17c;
	text-decoration: none;
	font-size: 20px;
}

.TopSection h1 a{
	font-size: 50px;
	color: white;
}

	

.TopSection ul{
	padding-top: 45px;
	padding-left: 0;
	text-align: left;
}
.TopSection ul li{
	padding-right: 20px;
	display: inline;
}

.TopSection ul li a {
	color: white;
}

.TopSection ul li a:hover{
	padding-bottom: 1.5%;
	background: url(menu_bullet.gif) bottom no-repeat;

}

.TopSection h2{
	font-family: "Arial", Helvetica, Sans-serif;
	font-size: 20px;
	padding-top: 1%;
}
.TopSection p{
	font-family: "Arial", Helvetica, Sans-serif;
	font-size: 13px;
	color: #656565;
}

.CenterSection{
	background-image: url(center_bg.jpg);
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
    width: 960px;

}

.CenterSection p{
	color: #656565;
	padding-bottom: 40px;
}

.CenterSection_Right{
	float: left;
}

.CenterSection_Right p{
	border-bottom: 2px dotted #b15e23;
}

.CenterSection_Right img{
	margin: 10px;
}


.CenterSection p img{
	float: left;
}

.CenterSection p a{
	font-weight: bold;
	color: black;

	width: auto;
	display: flex;
}

.CenterSection_Left a{
	border-bottom: 2px dotted #b15e23;
}

.CenterSection table{
	width: 100%;
	border: 3px solid black;
}

.CenterSection table tr th{
	border-top: 3px dotted black;
	border-left: 3px dotted black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	background-color: #BB791C;
}

.CenterSection table tr td{
	border-top: 2px solid black;
	border-bottom: 2px solid #656565;
}

.CenterSection_Left {
    float: left;
    right: 0%;
    padding-right: 50px;
}

.ArticleLeft {
	float: left;
	padding-right: 20px;
	right: 0;
	width: 50%;
}


.BottomSection_Text{
}

.BottomSection_Left{
	float: left;
	width: 50%;
	position: relative;
	right: 0%;
}
.BottomSection{
	margin-top: 20px;
	background-image: url(footer_bg.gif);
	padding-left: 15%;
 	padding-right: 15%;
	height: 150px;
}


.BottomSection dl{
	margin-bottom: 0;
}

.BottomSection dl dd{
	text-align: right;
	padding-right: 50px;;
	
}

.BottomSection dl dd a{
	color: #d5a17c;
}

.BottomSection dl dt{
	float: left;
	margin-right: 5px;
	color: white;
}

.BottomSection p{
	font-weight: bold;
	color: white;
	margin: 0;
}

.BottomSection h2{
	color: white;
	margin: 0;
	padding-top: 2%;
}

.BottomSection ul{
	padding-left: 4%;
	margin: 0;
	list-style-image: url(footer_list_bullet.gif);
}

.BottomSection ul li{
	padding-top: 1px;
}

.BottomSection ul li a{
	color: #d5a17c;
}

