/*CSS*/

*{
	font-family: sans-serif;
	font-height: 0.85em;
}
body{
	width: 620px;

}
#outer-frame
{
  position:relative;
  width: 380px;
  border: 2px black solid;
  border-radius: 10px;
  background-image: url('./images/blue/tl.png'), url('./images/blue/tr.png'), url('./images/blue/t.png'), url('./images/blue/br.png'), url('./images/blue/r.png'), url('./images/blue/bl.png'), url('./images/blue/b.png'),url('./images/blue/l.png');
  background-repeat:  no-repeat, no-repeat, repeat-x, no-repeat, repeat-y, no-repeat, repeat-x, repeat-y;
  background-position: top left, top right, top, bottom right, right, bottom left, bottom, left;
  padding: 126px 124px;
  padding-bottom: 141px;
}

#inner-frame {
    margin: 0px 17px 17px 3px;
    padding: 30px;
    box-shadow: black 5px 5px 15px;
    background-color: #C8C8C8;
    border-image-source:  url(images/border.png);
    border-image-slice: 5 5 5 5;
    border-image-width: 5px;

}


#inner-frame p:first-child{
    padding-top: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
	
}
#inner-frame p:last-child{
    padding-bottom: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
	margin-top:-15px;
}
#inner-frame p{
    text-align: justify;
    padding: 0px 7px;
    background-color: green;
    font-size: 15px;
    text-shadow: 2px 2px 8px black;
}

/* selector */

#selector div {
	display: inline;
}
#selector #goleft{
	margin-bottom: 100px;
}
#selector #goright{
	margin-bottom: 100px;
}
#selector {

	height:252px;
	border-style: dotted;
	margin-top:10px;
}

#red {
	display:none;
}